# EditorConfig est utilisé par la majorité des IDE/éditeurs
# cf: https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Règles par défaut pour tous les fichiers
indent_style = space
indent_size = 2
max_line_length = 100

# Spécifique pour les fichiers source frontend/backend
[*.{js,jsx,mjs,cjs,ts,tsx,mts,cts,vue,css,scss,sass,less,styl}]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
max_line_length = 100

# Pour JSON/YAML → pas de limite de longueur de ligne
[*.{json,yml,yaml}]
max_line_length = off

# Pour Markdown → ne pas enlever les espaces de fin (utile pour les retours à la ligne Markdown)
[*.md]
trim_trailing_whitespace = false
